
div {
    text-align: center;
    margin-top: 10%;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    place-self: center;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

}
